# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# Results & Outputs
results/raw_runs/
results/summaries/
results/plots/
*.csv

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp / Misc
*.tmp
*.bak

# Python packaging
dist/
build/
*.egg-info/